body{

    font-family:Poppins,sans-serif ;
    font-weight: 700;
    color: rgb(240, 237, 237);
    line-height: 1.5;
    font-size: 16px;
}
.hero-area{
   background:  linear-gradient(to right,#1a2e35 55%,#1cbbb4 55%);
   height: 700px;
   flex-direction: column;
   width: auto;
   padding-top: 10px;
}
.hero-area .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    color: #fff;
    height: 50px;
    padding: 1em;
    position: relative; /* Added position relative */
  }
  
  .menu {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin-left: -100 px;
    padding: 0;
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
 
    padding: 1em;
    border-radius: 5px;
    font-size: 19px;
  }
  
  .menu.active {
    display: flex;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative; /* Added position relative */
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
 
    @media (max-width: 700px) {
        .menu{
          flex-direction: column; 
          top: 50%;
        }
        .menu > li{
            top: 40%;
            font-size: 20px;
            margin: 0;
        }
      }
      #spering{
        font-size: 23px;
        margin-left: 10%;
      }
      @media (max-width: 700px) {
       
        .menu > li {
          margin: 0;
        }
      }
     .carousel-btn{
        width: 70px; 
        height: 70px; 
        border-radius: 50%; 
        background-color:#1cbbb4; 
     }
   
   
  
  
     .carousel-buttons {
        position: absolute;
        bottom: 22%;
        left: 5%; 
        outline-color: #1cbbb4;
       
      
    }
    .carousel-btn prev-btn:hover {
      background-color: red; /* Change color to red on hover */
  }
    .slider-section{
        margin: 3% 8%;
    }
    
    @media (max-width: 1536px) {
      .carousel-buttons {
        bottom: 30%;
         
      }
  }
  @media (max-width: 1812px) {
    .carousel-buttons {
      bottom: 30%;
       
    }
}
  
    
    
    
    @media (max-width: 700px) {
        .carousel-buttons {
            margin-top: 10%; 
            margin-left: 5%; 
        }
    }
    
 
    .carousel-title{
        font-size: 40px;
        color: white;
        font-weight: 700;
       
    }
    
  
       
    
    .slider {
      position: relative;
      width: 100%;
      height: 350px; /* Adjust height as needed */
      overflow: hidden;
  }
  
  .slide {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease;
  }
  
  @media (max-width: 700px) {
      .slide {
        
          margin-top: 100px;
      }
      .carousel-title{
        font-size: 20px;
        color: white;
        font-weight: 300;
        margin: 0;
       
    }
    .carousel-img{
      width: 30%;
      height: 30%;
    }
    
    .header-btn{
      padding: 10px 10px;
      margin-top: 50px;
    }
    .header-btns{
      display: inline-block;
      margin-top: 50px;
    }
  }
  
  .slide.active {
      opacity: 1;
  }
  
  .carousel-img {
      max-width: 65%;
      height: 100%;
      margin-left: 40%;
      margin-top: 40px;
  }
  
  .carousel-img2 {
    max-width: 65%; /* Same as the first slider's image */
    height: auto;
    margin-left: 50%; /* Adjust the margin to maintain alignment and provide space */
}

@media (max-width: 1536px) {
       
  .carousel-img2{
  
    margin:0;
  }
 
}

@media (max-width: 768px) {
       
  .carousel-img2{
  
    margin:0;
    width: auto;
  }

 
}
@media (max-width: 1024x) {
       
  .carousel-img2{
  
    margin:0;
    width: 20%;
  }
  .carousel-img{
  
    margin:0;
    width: 20%;
  }

}
  @media (max-width: 1024px) {
    .carousel-text {
      white-space: normal; /* Allow text to wrap */
      overflow: hidden; /* Hide overflow text */
      text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Limit text to two lines */
      -webkit-box-orient: vertical;
  }
}

  
 




  .slide-number {
    position: absolute;
    bottom: 30%;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 12px 17px;
    border-radius: 5px;
    font-size: 24px;
}
@media (max-width: 1812px) {
  .slide-number {
    bottom: 40%;
     
  }
}


.header-btn{
  padding: 10px 30px;
  border: none;
  margin: 1px;
  border-radius: 4px;


}




.experience-section{
  display: flex;
  align-items: center;
  margin: 10% 20%;
  color: black;
}
.experience-btn{
  padding: 10px 40px;
  background-color: black;
  color: aliceblue;

}

@media (max-width: 1024px) {
       
  .experience-img{
    width: auto;
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
       
  .experience-section{
    margin: 0;
  }
}
@media (max-width: 1280px) {
       
  .experience-section{
    margin: 0;
  }
}
@media (max-width: 1536px) {
       
  .experience-section{
    margin-top: 10px; /* Set margin only on the top */
    margin-right: 0;  /* Set margin right to 0 */
    margin-bottom: 0; /* Set margin bottom to 0 */
    margin-left: 0; 
  }
}
@media (max-width: 1800px) {
       
  .experience-section{
    margin: 0;
  }
}
@media (max-width: 768px) {
       
  .experience-section{
    display: block;
  }
}



.CATEGORY-section{
   background-color: #1cbbb4;
   padding-top: 40px;
   padding-bottom: 40px;
   text-align: center;
}
.Category{
  display: inline-block;

  margin-top: 25px;

}
.box{
  align-items: center;
  margin: 10px 120px;
  min-width: 130px;
  flex-basis: 26%;
  flex-direction: column;
}
.box-img{
  height: auto;
  width: 100px;
  align-items: center;
}
h5{
  font-size: 15px;
}
.row-1{
  display: flex;
}
.row-2{
  display: flex;
}
@media (max-width: 1024px) {
       
  .CATEGORY-section{
    padding: 0;
  }
  .box{
    margin:30px;
  }
}
@media (max-width: 768px) {
       
  .row-1{
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .CATEGORY-section{
    margin-top: 60px;
  }
}
.about-speering{
  align-items: center;
  text-align: center;
  color: black;
  
}
    
    
.speering-img{
  vertical-align: middle;
  width: auto;

}
.speering-description{
  margin: 0 10%;
  color: darkslategray;
}


@media (max-width: 1536px) {
       
  .speering-img{
    width: 40%;
  }
}
@media (max-width: 768px) {
       
  .speering-img{
    width: 100%;
  }
}

.freelancer-img{
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: black;
  padding: 10px;
  align-items: end;
 
}
.freelancer-section{
  color: black;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  
 
}
.freelancers{
  display: flex;
  justify-content: space-between;
}
.freelancer-amounts{
  margin-left: 10px;
}
@media (max-width: 1536px) {
       
  .freelancer-img-box{
    width: 70%;
    margin-left: 20%;
  }
  h2{
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
       
 
  .freelancer-img-box{
    width: 80%;
  }
}
@media (max-width: 1536px) {
       
  .freelancer-section{
    margin-left: 5%;
    margin-right: 0;
    
  }}
  @media (max-width: 1280px) {
       
    .freelancer-section{
      margin-left: 0;
      margin-right: 0;
      
    }
    h2{
      font-size: 18px;
    }}
    @media (max-width: 768px) {
       
      .freelancers{
       display: inline-block;
        
      }
      h2{
        font-size: 20px;
      }
    }


    .testimonial-section {
      width: 50%;
      margin: auto;
      padding: 45px 65px 35px 65px;
      color: black;
      text-align: center;
      height: auto;
      box-shadow: 1px 1px 1px 1px #888888;
      position: relative; /* Add relative positioning */
      margin-top: 30px;
  }
  
  .testimonial-prev-btn,
  .testimonial-next-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #011311;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; /* Ensure buttons are above slides */
      cursor: pointer; /* Add cursor pointer for better UX */
  }
  
  .testimonial-prev-btn {
      left: -30px;
  }
  
  .testimonial-next-btn {
      right: -30px;
  }
  

@media (max-width: 1536px) {
  testimonial-section {
   margin-bottom: 90px;
  }
}
@media (max-width: 768px) {
  testimonial-section {
   margin-bottom: 50px;
   width: 200px;

  }
}

.foooter-section {
  height: 70%;
  background-color: black;
  margin-top: 50px;
  padding: 4%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1536px) {
    .foooter-section {
        width: 90%;
        display: block;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .foooter-section {
        width: 80%;
    }
    .first-part {
        flex-direction: column;
        align-items: center;
    }
    .second-part {
        display: flex;
        flex-wrap: wrap;
    }
    .useful-link, .OFFICES, .INFORMATION, .newssettlrer {
        margin: 0;
        width: 50%;
        text-align: center;
        margin-top: 20px;
    }
    .newssettlrer input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .foooter-section {
        width: 90%;
    }
    .second-part {
        flex-direction: column;
        align-items: center;
    }
    .useful-link, .OFFICES, .INFORMATION, .newssettlrer {
        width: 100%;
    }
    .newssettlrer input {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .newssettlrer input {
        width: 100%;
    }
}
@media (max-width: 1000px) {
  .foooter-section {
      width: 90%;
  }
  .first-part {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .second-part {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .useful-link, .OFFICES, .INFORMATION, .newssettlrer {
      width: 250px; /* Fixed width */
      text-align: center;
      margin-top: 20px;
  }
  .newssettlrer input {
      width: 80%; /* Adjust as needed */
  }
}

.carousel-text {
  white-space: nowrap; /* Prevent wrapping of text */
}
